<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.net.mall.server.boss.mapper.CategoryMapper">


    <!--添加分类-->
    <insert id="add">
        insert into `net-mall`.category (id,category_name, description, create_time, update_time, create_user, update_user)
        values (#{id},#{categoryName}, #{description}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <!--修改分类-->
    <update id="update">
        update `net-mall`.category
            <set>
                <if test="categoryName!=null">
                    category_name = #{categoryName},
                </if>
                <if test="description!=null">
                    description = #{description},
                </if>
                <if test="updateTime!=null">
                    update_time = #{updateTime},
                </if>
                <if test="categoryName!=null">
                    update_user = #{updateUser},
                </if>
            </set>
        where id=#{id}

    </update>

    <!--删除分类-->
    <delete id="delete">
        delete from `net-mall`.category where id=#{id}
    </delete>

    <!--分页查询-->
    <select id="page" resultType="com.net.mall.pojo.vo.CategoryVO">
        select * from `net-mall`.category
    </select>

    <!--列表查询-->
    <select id="list" resultType="com.net.mall.pojo.vo.CategoryVO">
        select * from `net-mall`.category
    </select>
    <select id="getCate" resultType="com.net.mall.pojo.vo.CateProVO">
        select id,category_name from `net-mall`.category
    </select>
    <select id="getById" resultType="com.net.mall.pojo.vo.CategoryVO">
        select * from `net-mall`.category where id=#{id}
    </select>
</mapper>