<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.net.mall.server.user.mapper.OrderDetailMapper">

    <insert id="addList">
        insert into order_detail (
            product_id,product_name,image_url,order_id,quantity,amount
        )
        values
        <foreach collection="entities"
                 item="item"
                 separator=",">
            (
             #{item.productId},#{item.productName},#{item.imageUrl},#{item.orderId},#{item.quantity},#{item.amount}
            )
        </foreach>



    </insert>


    <select id="list" resultType="com.net.mall.pojo.vo.OrdersVO">
        select * from `net-mall`.order_detail where order_id=#{orderId}
    </select>
    <select id="getByOrderId" resultType="com.net.mall.pojo.vo.OrderDetailVO">
        select * from `net-mall`.order_detail where order_id=#{orderId}
    </select>
    <select id="queryByOrderNum" resultType="com.net.mall.pojo.vo.OrderDetailVO">
        select * from `net-mall`.order_detail where order_num= #{orderNum}
    </select>
    <select id="queryByOrderNumAndComputerId" resultType="com.net.mall.pojo.vo.OrderDetailVO">
        select * from `net-mall`.order_detail where order_id= #{orderId} and computer_id = #{computerId}
    </select>
</mapper>