<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.net.mall.server.user.mapper.ProductMapper">


    <update id="reduceStock">
        UPDATE `net-mall`.product
        SET stock = stock -
        <foreach collection="products" item="product"  open="CASE id " close=" END">
            WHEN #{product.id} THEN #{product.stock}
        </foreach>
        WHERE id IN
        <foreach collection="products" item="product" open="(" separator="," close=")">
            #{product.id}
        </foreach>
    </update>


    <select id="page" resultType="com.net.mall.pojo.vo.ProductVO">
        select * from `net-mall`.product where category_id=#{categoryId}
    </select>
    <select id="getById" resultType="com.net.mall.pojo.entity.ProductEntity">
        select * from `net-mall`.product where id=#{productId}
    </select>
</mapper>