<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.net.mall.server.admin.mapper.ProductMapper">

    <update id="updateStock">
        update `net-mall`.product set stock=#{stock} where id=#{id}
    </update>


    <select id="page" resultType="com.net.mall.pojo.vo.ProductVO">
        select * from `net-mall`.product where category_id=#{categoryId}
    </select>

    <select id="list" resultType="com.net.mall.pojo.vo.ProductVO">
        select * from `net-mall`.product where category_id=#{categoryId}
    </select>
</mapper>